<!DOCTYPE html>
<html>
<head>
  <title>LoadResource</title>
  <%= stylesheet_link_tag    "load_resource/application", media: "all" %>
  <%= javascript_include_tag "load_resource/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
